{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDIAN FILMS</title>
</head>
<body bgcolor="#7fec68"><br><br><br><br><br>
    <div>
       <center> <h1>LOG IN</h1>
        <form action="">
            <label for="">NAME  :</label>
            <input type="text"><br><br>
            <label for="">EMAIL :</label>
            <input type="text"><br><br>
            <button >login</button><br><br><br>
            <img src="{% static 'images/films.jpg' %}" alt="">
           

        </center>
        </form>

    </div>
    

    
    
</body>
</html>